@import url(reset.css);
@import url(fonts.css);
body {
  font-size: 24px;
  font-family: "AFuturaRoundDemi";
  color: #000000;
}
body .cont, .wrap, .block {
  box-sizing: border-box;
}
.cont {
  width: 80%;
  margin: 0 auto;
}
.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4px;
}
.block {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 4px;
}
header .wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.msg {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
}
.msg a {
  text-decoration: none;
  color: #000000;
}
#telegram::before, #whatsapp::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 4px;
  vertical-align: middle;
}
#telegram::before {
  background-image: url(../img/telegram-new-2019-seeklogo.com.svg);
}
#whatsapp::before {
  background-image: url(../img/whatsapp-icon-seeklogo.com.svg);
}