@import url(reset.css);
@import url(fonts.css);
body {
  font-size: 24px;
  font-family: "ClearSansRegular";
  color: #000000;
}
body .cont, .wrap, .block {
  box-sizing: border-box;
}
.cont {
  width: 80%;
  margin: 0 auto;
}
.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4px;
}
.block {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 4px;
  /*background-color: cadetblue;*/
}
h2 {
  font-family: "ClearSansBold";
  font-size: 160%;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}
h3 {
  font-size: 120%;
  font-family: "ClearSansMediumItalic";
  margin-bottom: 8px;
}
header {
  background-color: brown;
}
header .wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.msg {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
}
.msg li {
  margin-left: 8px;
}
.msg li:first-child {
  margin-left: 0;
}
.nav a, .msg a, .groups a, .send a {
  text-decoration: none;
  color: #FFFFFF;
}
.groups li, .send li {
  margin-bottom: 4px;
}
.groups li:last-child, .send li:last-child {
  margin-bottom: 0;
}
.telegram::before, .whatsapp::before, #vk::before, #yt::before, #tt::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 4px;
  vertical-align: middle;
}
.telegram::before {
  background-image: url(../img/telegram.svg);
}
.whatsapp::before {
  background-image: url(../img/whatsapp.svg);
}
#vk::before {
  background-image: url(../img/vkontakte.svg);
}
#yt::before {
  background-image: url(../img/youtube.svg);
}
#tt::before {
  background-image: url(../img/tiktok.svg);
}
main img {
  width: 120px;
  float: left;
  margin-right: 16px;
}
#constr .block, #roboto .block, #prog .block {
  flex-basis: 32%;
}
footer {
  background-color: darkgray;
  color: #FFFFFF;
}
footer .wrap:first-child {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}
footer h2 {
  margin-bottom: 8px;
}
#about p {
  font-family: "ClearSansLight";
  text-align: justify;
}
#about img {
  float: left;
  width: 100px;
  margin-right: 12px;
}