@import url(reset.css);
@import url(fonts.css);
body {
  font-size: 1.2rem;
  font-family: "ClearSansRegular";
}
body .cont, .wrap, .block {
  box-sizing: border-box;
}
.cont {
  width: 80%;
  margin: 0 auto;
}
.wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px;
}
.block {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 8px;
}
h2 {
  font-family: "ClearSansBold";
  font-size: 160%;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}
h3 {
  font-size: 120%;
  font-family: "ClearSansMediumItalic";
  margin-bottom: 8px;
}
header, footer {
  background-color: #999999;
}
header .wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
header img, #about img {
  width: 150px;
}
header ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.msg {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
}
.msg li {
  margin-left: 16px;
}
.msg li:first-child {
  margin-left: 0;
}
.nav a, .msg a, .groups a, #pers a {
  text-decoration: none;
  color: #FFFFFF;
}
.telegram::before, .whatsapp::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 8px;
  vertical-align: middle;
}
.telegram::before {
  background-image: url(../img/telegram.svg);
}
.whatsapp::before {
  background-image: url(../img/whatsapp.svg);
}
footer {
  font-family: "ClearSansLight";
  color: #FFFFFF;
}
footer .wrap:first-child {
  display: grid;
  grid-template-columns: 50% repeat(2, 25%);
}
footer h2 {
  margin-bottom: 8px;
}
#about p {
  text-align: justify;
}
#about img {
  float: left;
  margin-right: 16px;
}
.groups {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.groups img {
  width: 50px;
}
#pers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#pers ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}
#pers li {
  margin-right: 16px;
}