@media only screen and (max-width: 767px) {
  .cont {
    width: 100%;
  }
  .nav, .telegram, .whatsapp {
    display: none;
  }
  .mobile-link img {
    width: 32px;
  }
  #timetable {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .cont {
    width: 100%;
  }
  #burg {
    display: block;
  }
  .nav {
    display: none;
  }
  .mobile-link {
    display: none;
  }
  header img {
    width: 60vw;
  }
  #prices .block  {
    flex-grow: 1;
    flex-basis: 100%;
  }
  #timetable {
    display: none;
  }
}
@media only screen and (min-width: 1020px) {
  .cont {
    width: 90%;
  }
  #burg {
    display: block;
  }
  .mobile {
    display: none;
  }
  .nav {
    display: none;
  }
  header img {
    width: 600px;
  }
  #diffs .wrap {
    justify-content: center;
  }
  #diffs .block {
    flex-basis: 47%;
    flex-grow: 0;
    flex-shrink: 1;
  }
  #prices .block {
    flex-basis: 32%;
  }
  footer .wrap:first-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer .wrap:first-child .block {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40%;
  }
  footer .wrap:first-child .block:nth-child(1) {
    flex-basis: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  #burg {
    display: none;
  }
  .nav {
    display: block;
  }
  .cont {
    width: 80%;
  }
  #diffs .block {
    flex-basis: 31%;
    flex-grow: 0;
    flex-shrink: 1;
  }
  footer .wrap:first-child {
    display: grid;
    grid-template-columns: 50% repeat(2, 25%);
  }
  #timetable {
    display: block;
  }
}